.header-bg {
  background-color: #264653;
}

#first-heading-color {
  color: #ffffff;
}

.paragraph-color {
  color: #e0e0e0;
}

.button-bg {
  background-color: #e76f51;
  color: #ffffff;
}

.grayscale img {
  filter: grayscale(100%);
}

.span-heading-color {
  color: #e76f51;
}
